<!DOCTYPE html>
{% extends 'cabecalho.html' %}
{% load staticfiles %}

<html lang="pt-br">
<head>
  <title>Home</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}
    <link rel="stylesheet" href="{% static 'CSS/estilo.css' %}">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>

<body>
{% block content %}
    <div class="fundo formulario">
        <h1>Excluir produto {{item.nome}}</h1>

        <form method="POST">
            {% csrf_token %}
            <h2>Você tem certeza que deseja excluir esse morador? </h2>
            <h3 class="m-3">Morador: {{morador.nome}} {{ morador.sobrenome }}</h3>

            <button class="btn btn-dark m-3" type="submit">Confirmar</button>
            <a href="{% url 'estoque' %}"><button class="btn btn-dark m-3" type="button">Cancelar</button> </a>
        </form>

    </div>

{% endblock %}

</body>
</html>